<style>
    
    section {
        background-color: #363b41;
    }

    .container-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50 0px;
    }

    .card {
        max-width: 500px; 
        width: 100%;
        border-radius: 15px !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding: 10px;
    }

    .card-header {
        background-color: #ffffff !important;
        color: #3c3b3b;
        font-weight: bold;
        border-radius: 15px 15px 0 0;
        text-align: center;
        padding: 20px;
        border-bottom: 2px solid #fed41a !important;
    }

    .card-body {
        padding: 20px;
    }

    .lead {
        font-size: 1.2em;
    }

    .form-group {
        margin-bottom: 40px;
    }

    label {
        font-weight: bold;
        color: #3c3b3b;
    }

    .form-control {
        border-radius: 10px;
    }

    .btn-primary {
        background-color: #fed41a !important;
        color: #3c3b3b !important;
        font-weight: bold !important;
        border: none !important;
        border-radius: 10px !important;
        width: 70%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .btn-primary:hover {
        background-color: #ff8c00 !important;
        transform: scale(1.1);
        font-weight: bold;
    }

    #custom-message {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #custom-li {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .btn-delete {
        position: absolute;
        right: 15px; 
        font-size: 20px;
        color: red; 
    }

    .btn-delete:hover {
        cursor: pointer;
        text-decoration: none;
        color: red; 
        transform: scale(1.5);
    }

</style>

<section id="navbar">
    <%- include('navbar') %>
</section>

<div class="container-1">
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0"><b>เพิ่มหมวดหมู่</b></h4>
        </div>
        <div class="card-body">
            <form class="needs-validation" novalidate action="/category/add" method="post">
                <div class="form-group">
                    <% if(messageError.length > 0) { %>
                        <% messageError.forEach((message) => { %>
                    <div class="mt-3 alert alert-danger" id="custom-message">
                        <%= message %>
                    </div>
                        <% }) %>
                    <% } else if (messageSuccess.length > 0) { %>
                        <% messageSuccess.forEach((message) => { %>
                    <div class="mt-3 alert alert-success" id="custom-message">
                        <%= message %>
                    </div>
                        <% }) %>
                    <% } %>
                    

                    <label for="name" class="lead">กรุณากรอกหมวดหมู่</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                    <div class="invalid-feedback">กรุณากรอกหมวดหมู่</div>

                    <div class="mt-5">
                        <h5 class="text-center"><b>หมวดหมู่ที่มีอยู่</b></h5>
                        <ul class="list-group mt-3">
                        <% categories.forEach((item) => { %>
                            <li class="list-group-item" id="custom-li">
                                <span><%= item.name %></span>
                                <% if((userNormal && userNormal.role == 'admin') || (googleUser && googleUser.role == 'admin')) { %>
                                <a href="#" class="btn-delete" data-toggle="modal" data-target="#confirmDeleteModal<%= item.id %>" data-item="<%= item.name %>">&times;</a>
                                <% } %>
                            </li>
                        </ul>

                        <div class="modal fade" id="confirmDeleteModal<%= item.id %>" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Are you sure you want to delete category <span id="modal-item-name"></span><b class="ml-3">"<%= item.name %>"</b>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                  <a href="/category/delete/<%= item.id %>" type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% }) %>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary">บันทึกข้อมูล</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    setTimeout(function() {
        document.getElementById('custom-message').style.display = 'none';
    }, 3000);
</script>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
